<div class="base">
  <div class="content"
  (mouseleave)="resetCircles()"
  (mouseenter)="paintCircles('white')"
  (click)="clickToNav($event)"
  id="contentBox">
    <div class="name-box first">
      ITAY
    </div>
    <div class="description">
      <div class="text-box"><div class="text" data-acronym="H.A." data-full="Hobby Artist"></div></div>
      <div class="text-box"><div class="text" data-acronym="D." data-full="Developer"></div></div>
      <div class="text-box"><div class="text" data-acronym="L.E." data-full="Language Enthusiast"></div></div>
    </div>
    <div class="name-box last">
      RAVIV
    </div>
    <div class="circle" id="circle1"></div>
    <div class="circle" id="circle2" ></div>
  </div>
</div>
