<html>
  <head>
    <title>Itay Raviv</title>
  </head>
  <body>
    index/app - this is body before everything
    <div class="navbar">
      <div class="link-box">
        <div class="link-cell" style="left: 50px;">
          <a href="" class="link">Home</a>
        </div>
        <div class="link-cell" style="left: 160px;">
          <a href="/about" class="link">About</a>
        </div>
        <div class="link-cell" style="left: 275px;">
          <a href="/socials" class="link">Socials</a>
        </div>
      </div>
      <a [href]="cvlink" target="_blank" class="cv-link-cell">
        <div class="cv-link">Download CV</div>
      </a>
    </div>
    <div class="container">
      index/app - THIS IS CONTAINER DIV
      <!-- <router-outlet></router-outlet> -->
    </div>
    index/app - this is body below container div
  </body>
</html>