.base {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  perspective: 1000px;
  width: 300px;
  height: 150px;
  margin: 50px;
}

.card:hover .card-content {
  transform: rotateX(-180deg);
  box-shadow: 12px -6px 8px 0 rgba(0,0,0,0.2), -12px 6px 22px 0 rgba(200,200,255,0.25);
}

.card-content {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.4s;
  box-shadow: 12px 6px 8px 0 rgba(0,0,0,0.2), -12px -6px 22px 0 rgba(200,200,255,0.25);
}

.front, .back {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  box-sizing: border-box;
  align-items: center;
}

.back {
  transform: rotateX(180deg);
}

.front{
  font-size: 50px;
  text-align: center;
}

.back-logo-img {
  width: 50px;
}

.back-img-container {
  background-color: antiquewhite;
  height: 50px;
  width: 150px;
  z-index: 2;
}

.back-link {
  text-decoration: none;
  font-size: 25px;
  z-index: 1;
}

.back-link, .back-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
}

