<body>
  <header>
    <h1>About Me</h1>
  </header>
  <main>
    <section>
      <h2>Army Service</h2>
      <p>I proudly served in the army for several years,
        where I gained valuable discipline and leadership skills.</p>
    </section>
    
    <section>
      <h2>Tech Enthusiast</h2>
      <p>I have a passion for technology and enjoy keeping up with the latest advancements. <br>
        Exploring new gadgets and learning about emerging technologies excites me.</p>
    </section>
    
    <section>
      <h2>Studying Languages</h2>
      <p>I am a dedicated language learner and find joy in discovering new cultures through their languages. <br>
        Currently, I'm focused on improving my proficiency in English and Japanese.</p>
    </section>
    
    <section>
      <h2>Programming and Coding</h2>
      <p>Programming and coding have become an integral part of my life. <br>
        I love the process of solving problems and creating efficient software solutions. <br>
        My favorite programming languages include Dart and C#,
        and other technologies like the Angular framework.</p>
    </section>
    
    <section>
      <h2>Hobbyist Digital Artist</h2>
      <p>In my free time, I enjoy expressing my creativity through digital art. <br>
        My focus is on drawing figures and sketching people, capturing their unique features and emotions. <br>
        Recently, I started experimenting with painting landscapes, allowing me to explore various atmospheres and moods.</p>
    </section>
  </main>
</body>
