<div class="content">
    <div class="header">About Me</div>
    <p>Hey, I'm Itay. <br>
        I like to code, draw, play video games and listen to music.</p>
    <a href="mailto:{{myGmail}}"><p>&nbsp;&nbsp;&nbsp; Gmail</p><img [src]="gmLogo" alt="Gmail Logo"></a>
   
    <a href=""> LinkedIn </a>
   
    <a href="https://www.instagram.com/itay8raviv/"><p>Personal</p><img [src]="insgLogo" alt="Instagram"></a>

    <a href="https://www.instagram.com/ravivdraws/"> <p>Drawing</p><img [src]="insgLogo" alt="Instagram"> </a><br>

</div>