
  .navbar {
    background-color: darkslategray;
    color: darkslategray;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
  }

  .link-box{
    display: flex;
    height: 50px;
  }
  .link-cell{
    vertical-align: bottom;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    height: fit-content;
    position: absolute;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .link-cell:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(65, 54, 55, 0.4);
    margin-top: 0;
    .link{
      font-size: 30px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    }
  }
   
  .link, .cv-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    transition: 0.3s ease-in-out;
  }

  .link {
    color: white;
    margin: 10px;
  }
  .cv-link{
    margin: 8px 8px 5px;
    color: inherit;
  }
  .cv-link-cell {
    color: inherit;
    background-color: white;
    border-radius: 12px 3px;
    transition: 0.5s;
    text-decoration: none;
  }
  .cv-link-cell:hover{
    margin: 0 8px 0px 0;
    box-shadow: 30px 5px rgba(255, 255, 200, 0.3);
  }