<html>
  <head>
    <title>Itay Raviv</title>
  </head>
  <body>
    <div class="navbar">
      <div class="link-box">
        <div class="link-cell">
          <a href="" class="link">Home</a>
        </div>
        <div class="link-cell">
          <a href="/about" class="link">About</a>
        </div>
      </div>
      <a href="https://itay-raviv-cv.tiiny.site/" class="cv-link-cell">
        <div class="cv-link">Download CV</div>
      </a>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>