<html>
  <head>
    <title>Itay Raviv</title>
  </head>
  <body>
    <div class="navbar">
      <div class="link-box">
        <div class="link-cell">
          <a href="" class="link">Home</a>
        </div>
        <div class="link-cell">
          <a href="/about" class="link">About</a>
        </div>
      </div>
      <div class="logo">
        <img src="https://i.ibb.co/ZNMjK0j/Itay-logo-1.png" alt="logo">
      </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>