.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}
.img {
  width: 700px;
  margin: 0 40px;
}

@media screen and (max-width: 800px) {
  .img {
    width: 500px;
  }
}

@media screen and (max-width: 1550px) {
  .img-grid {
    grid-template-columns: 1fr;
  }
}

  .base {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #da9f68, #f099c4, #7fc5df, #89e4ac);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 20% 0%;
    }
    50% {
      background-position: 80% 100%;
    }
    100% {
      background-position: 20% 0%;
    }
  }
  