<div class="base">
    <div class="card">
        <div class="card-content">
            <div class="front">
                Email Address
            </div>
            <div class="back">
                <div class="back-img-container">
                    <img class="back-logo-img" [src]="gmLogo" alt="Gmail Logo">
                </div>
                <a class="back-link" href="mailto:itsitayraviv@gmail.com">
                    ItsItayRaviv
                    @gmail.com</a>
            </div>  
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="front">
                GitHub Profile
            </div>
            <div class="back">
                <div class="back-img-container">
                    <img class="back-logo-img" [src]="gitLogo" alt="Instagram Logo">
                </div>
                <a class="back-link" href="https://github.com/ItsItayRaviv" style="font-size: 34px;">
                    Itay Raviv</a>
            </div>  
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="front">
                Drawings Instagram
            </div>
            <div class="back">
                <div class="back-img-container">
                    <img class="back-logo-img" [src]="insgLogo" alt="Instagram Logo">
                </div>
                <a class="back-link" href="https://www.instagram.com/ravivdraws/" style="font-size: 25px;">
                    @RavivDraws</a>
            </div>              
        </div>
    </div>
</div>