.base {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.content{
  background-color: #acc;
  position: relative;
  cursor: none;
  height: 70vmin;
  margin-top: 2%;
}

.description{
  height: 5vmin;
  width: 100%;
  background-color: #aaa;
  display:flex;
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-style: italic;
  }
  @media screen and (min-height: 500px) {
    .text::after {
      content: attr(data-full);
    }
  }
}

.name-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 26vmin;
  letter-spacing: 2vmin;
}

.circle {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-color: #377;
  transition: transform 0.5s, top 0.2s, left 0.2s, background-color 0.5s;
}