.content{
  background-color: #acc;
  position: relative;
  cursor: none;
  aspect-ratio: 1 1;
  height: 75vmin;
}
.description{
  height: 5vmin;
  width: 100%;
  background-color: #aaa;
}
.name-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 26vmin;
  letter-spacing: 2vmin;
}
.name-box > div {
  float: left;
}


.circle {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-color: #377;
  transition: top 0.2s, left 0.2s, background-color 0.5s;
}

#circle1{
    top: 1.5%;
    left: 16.7%;
}
#circle2{
    top: 53.3%;
    left: 66.2%;
}
