
<div class="content"
  (mouseleave)="resetCircles()"
  (mouseenter)="paintCircles('white')"
  id="contentBox">
    <div class="circle" id="circle1"></div>
    <div class="circle" id="circle2" ></div>
  <div class="name-box first">
    <div class="name-text first"></div>
    <div class="letter-i">
      I
    </div>
    <div class="name-text">TAY</div>
  </div>
  <div class="description">
    hobby artist - developer
  </div>
  <div class="name-box last">
    <div class="name-text first">RAV</div>
    <div class="letter-i">
      I
    </div>
    <div class="name-text last">V</div>
  </div>
</div>